body{
    margin: 0; /*to delete the standards properties of the web so our navbar and our anchor tags are in the same dimensions not adding extra space ok*/
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #16161a;
}

.navbar{
    background-color: #242629;
    padding: 10px; /*space up and down*/
    text-align: right;
   /*color: #94a1b2; /*didnt change the color. why? bc when inspect there is a property already standard so we shoul make sure to create another propertie */
}

.navbar > a {
    color: #94a1b2;
    text-decoration: none;
    padding: 0 10px; /*0 xq ya navbar tiene un espaciado de arriba*/
}

section h2 {
    text-align: center;  
    color: #fffffe ;
}

section{
    padding: 10px;
    max-width: 1200px;
    margin:0 auto; /*como es grid no podemos usar justify content center so we use margin auto to center the things.*/
}

.portfolio-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    color:#94a1b2;
    gap: 10px;
    justify-items: center; /*En display grid no existe el justify content, hay que usar justify items*/
}

.portfolio-item{
    height: 150px;
    width: 175px;
    background-color: #fffffe;
    padding: 10px;
}

.portfolio-item:nth-child(even) {
    background-color: transparent;
    border: 2px solid #94a1b2;
    color: #c5c6c7;
}