 * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box; /*This means that when specifying the width or height of elements inside the <body>, the padding and border will be included in those dimensions. */
}

.container-grid {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr); /* Define your desired number of columns, ancho 1 fraccion. */
}

.grid-item {
    border-radius: 5px;
    overflow: hidden;
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Specify the size for each grid item */
.item1 {
    grid-row: span 2; /* Takes up 2 rows */
    grid-column: span 10; /* Takes up 1 column*/
}

.item2 {
    grid-row: span 6; /* Takes up 1 row */
    grid-column: span 4; /* Takes up 2 columns */
}

.item3 {
    grid-row: span 1; /* Takes up 2 rows */
    grid-column: span 4; /* Takes up 2 columns */
}

.item4 {
    grid-row: span 1; /* Takes up 2 rows */
    grid-column: span 6; /* Takes up 2 columns */
}
.item5 {
    grid-row: span 5; /* Takes up 2 rows */
    grid-column: span 4; /* Takes up 2 columns */
}
.item6 {
    grid-row: span 2; /* Takes up 2 rows */
    grid-column: span 2; /* Takes up 2 columns */
}
.item7 {
    grid-row: span 2; /* Takes up 2 rows */
    grid-column: span 4; /* Takes up 2 columns */
}
.item8 {
    grid-row: span 3; /* Takes up 2 rows */
    grid-column: span 8; /* Takes up 2 columns */
}
.item9 {
    grid-row: span 1; /* Takes up 2 rows */
    grid-column: span 2; /* Takes up 2 columns */
}
.item10 {
    grid-row: span 2; /* Takes up 2 rows */
    grid-column: span 2; /* Takes up 2 columns */
}
.item11 {
    grid-row: span 9; /* Takes up 2 rows */
    grid-column: span 6; /* Takes up 2 columns */
}
.item12 {
    grid-row: span 7; /* Takes up 2 rows */
    grid-column: span 10; /* Takes up 2 columns */
}
.item13 {
    grid-row: span 6; /* Takes up 2 rows */
    grid-column: span 8; /* Takes up 2 columns */
}
.item14 {
    grid-row: span 2; /* Takes up 2 rows */
    grid-column: span 24; /* Takes up 2 columns */
}


